:root {
    --text-color: #4a4a4a;
    --m-bg-color:  #fafafa
    ;
}

body{
    background-color: var(--m-bg-color);
}
#services{
   border-right: 3px solid whitesmoke;
}

#nav-1{
    background-color:  var(--m-bg-color);
}

footer{
    /* border-top: 3px solid whitesmoke; */
   background-color: var(--m-bg-color);
}

#services{
    background-color: var(--m-bg-color);
    border-radius: 6;
    border: 3px solid whitesmoke;
}

#about{
    background-color: burlywood;
    
}

#main-1{
    
}