:root {
    --text-color: #4a4a4a;
    --m-bg-color: #fafafa;
}

body {
    color: var(--text-color);
}


.service-card {
    background: linear-gradient(120DEG, #fafafa, #deb887);
}


#container-one {
    background-color: var(--m-bg-color);
}

#aboutUs {
    background: linear-gradient(120DEG, #fafafa, #deb887);
}

img {
    width: 75%;
    height: auto;
}

#result2 {
    background-color: rgb(251, 250, 250);
    z-index: 2;
}
.element {
    width: 100%;
    
    margin: 0px;
 }
 .soul {
    margin-top: 10px;
    margin-bottom: 5px;
}
#result {
    position: relative;
    z-index: 2;
    background-color: rgb(251, 250, 250);
}