body {
    margin-left: 30%;
    
}
.soul {
    margin-top: 10px;
    margin-bottom: 5px;
    
}
.soul input {
    width: 50%;
    height: 30px;
}
.soul select {
    width: 50.5%;
    height: 30px;
    border-radius: 15.5px;
    background-color: rgba(233, 237, 228, 0.699);
}

.soul textarea {
    width: 50%;
}
#mysubmit {
    width:15%;
    background-color:green;
    color: aliceblue;
    margin-left: 35.5%;
}