body {
    margin-left: 30%;
    background-color:#4A4A4A;
    color: white;
    
}
.soul {
    margin-top: 10px;
    margin-bottom: 5px;
    color:black;
    
}
.soul input {
    width: 50%;
    height: 30px;
}
.soul select {
    width: 50.5%;
    height: 30px;
    border-radius: 15.5px;
    background-color:goldenrod;
}

.soul textarea {
    width: 50%;
}
#mysubmit {
    width:15%;
    background-color:green;
    color: aliceblue;
    margin-left: 35%;
}
#others {
    display: none;
}